RewriteEngine On
RewriteBase /projektit_react/react-sovellusmalli/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /projektit_react/react-sovellusmalli/index.html [L]
